@import "../../../Common.scss";

.content {
    min-width: 800px;
    margin-left: 20px ;
    padding: 50px;
    margin-right: 20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F9FAFB;
    .image{
        border-radius: 5%;
        width: 110px;
        height: 110px;
    }
}